@mixin respond($device) {
  @if $device == small {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $device == medium {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $device == big {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
}

:root {
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-light-1: #f9f9f9;
  --color-grey-light-2: #f2f2f2;
  --color-grey-light-3: #eee;
  --color-grey-light-4: #ccc;

  --color-oriole: #ff7913;
  --color-rasp: #d72d5c;
  --color-citrus: #ffb025;

  --color-primary: #336b87;
  --color-primary-light: #90afc5;
  --color-secondary-dark: #2a3132;
  --color-secondary: #763626;

  --shadow-small: 0 1rem 2rem rgba(0, 0, 0, 0.06);
  --shadow-big: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(
      to top right,
      var(--color-primary),
      var(--color-primary-light)
    )
    no-repeat;

  min-height: 100vh;

  color: var(--color-grey-dark-1);
}

.heading-1 {
  font-size: 3rem;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 3rem;
  text-align: center;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
}



.list {
  list-style: none;
  text-align: left;

  &__item {
    font-size: 1.1em;

    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  &__bullet {
    margin-right: 1rem;
    color: var(--color-citrus);
  }
}
